<?xml version="1.0" encoding="UTF-8"?>
<settings>
	<main_settings>
			<main_scale>100</main_scale>
			<main_x_position>0</main_x_position>
			<main_y_position>0</main_y_position>
			<animation_quality>HIGH</animation_quality>
	</main_settings>
	<color_settings>
			<background_color>0x3C0000</background_color>
			<layers_color_replacement>true</layers_color_replacement>
			<layer_top_color>0xFF9933</layer_top_color>
			<layer_center_color>0xFF1740</layer_center_color>
			<layer_bottom_color>0x800040</layer_bottom_color>
			<buttons_color_replacement>true</buttons_color_replacement>
			<mute_button_color>0xFF9933</mute_button_color>
			<fullscreen_button_color>0xFF9933</fullscreen_button_color>
			<socials_buttons_color>0xFF9933</socials_buttons_color>
	</color_settings>
	<logo_settings>
			<logo_path>images/logo.png</logo_path>
			<logo_x_scale>50</logo_x_scale>
			<logo_y_scale>50</logo_y_scale>
			<logo_x_position>0</logo_x_position>
			<logo_y_position>0</logo_y_position>
	</logo_settings>
	<text_settings>
			<text_main>
			<![CDATA[<p align="center"><font size="30" color="#FF9933"><br/>Merry Christmas<br>Happy New Year!</font></p><p><font size="20" color="#FF9933"><br>Chúc giáng sinh vui nhé :D<br></font></p><p><font size="18" color="#FF1740"><a href="http://fb.com/huynhducduy" target="_blank">Del</a></font></p>]]>
			</text_main>
			<textblock_size>100</textblock_size>
			<textblock_width>500</textblock_width>
			<textblock_height>300</textblock_height>
			<textblock_x_position>0</textblock_x_position>
			<textblock_y_position>30</textblock_y_position>
	</text_settings>
	<sound_settings>
			<music_path>sounds/track1.mp3</music_path>
			<music_repeat>9999</music_repeat>
			<music_volume>100</music_volume>
			<music_fade_delay>0</music_fade_delay>
	</sound_settings>
	<parallax_settings>
			<layer_top_speed>60</layer_top_speed>
			<layer_center_speed>40</layer_center_speed>
			<layer_bottom_speed>20</layer_bottom_speed>
			<layer_top_slowdown>3</layer_top_slowdown>
			<layer_center_slowdown>6</layer_center_slowdown>
			<layer_bottom_slowdown>18</layer_bottom_slowdown>
			<layer_top_scale>0.8</layer_top_scale>
			<layer_center_scale>1.7</layer_center_scale>
			<layer_bottom_scale>8</layer_bottom_scale>
			<flicker_delay>0</flicker_delay>
	</parallax_settings>
	<buttons_settings>
			<button_mute_enabled>on</button_mute_enabled>
			<button_fullscreen_enabled>on</button_fullscreen_enabled>
			<buttons_position>BL</buttons_position>
			<buttons_margins>10</buttons_margins>
	</buttons_settings>
	<social_settings>
			<social_buttons>true</social_buttons>
			<social_position>BR</social_position>
			<social_x_position>0</social_x_position>
			<social_y_position>0</social_y_position>
			<social_margins>10</social_margins>
			<button_1>true</button_1>
			<button_1_path>images/facebook.swf</button_1_path>
			<button_1_url>http://www.facebook.com/huynhducduy</button_1_url>
			<button_1_target>_blank</button_1_target>
			<button_2>true</button_2>
			<button_2_path>images/google.swf</button_2_path>
			<button_2_url>https://plus.google.com/106979062225008190545</button_2_url>
			<button_2_target>_blank</button_2_target>
			<button_3>true</button_3>
			<button_3_path>images/email.swf</button_3_path>
			<button_3_url>mailto:h2dvnnet@gmail.com</button_3_url>
			<button_3_target>_blank</button_3_target>
			<!--<button_4>true</button_4>
			<button_4_path>images/vimeo.swf</button_4_path>
			<button_4_url>http://delhuynh.asia/</button_4_url>
			<button_4_target>_blank</button_4_target>
			<button_2>true</button_2>
			<button_2_path>images/twitter.swf</button_2_path>
			<button_2_url>http://www.facebook.com/huynhducduy</button_2_url>
			<button_2_target>_blank</button_2_target>-->
	</social_settings>
</settings>